*{
    margin: 0px;
    box-sizing: border-box;
}
#container{
    height: 8vh;
    width: 100vw;
    border: 2px solid rgba(0, 0, 0, 0.244);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(135, 207, 235, 0.093);
}
.fa-bars{
    margin-left: 15px;
    border: 2px solid gainsboro;
    padding: 5px;
    border-radius: 5px;
}
.fa-github{
    margin-left: 20px;
    font-size: 25px;
}
h4{
    text-align: center;
    text-indent: 15px;
}
.fa-magnifying-glass{
    background-color: white;
    margin-left: 700px;
    border: 2px solid gainsboro;
    height: 28px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-color: white;
    padding: 4px;
    position: relative;
    left: 150px;
}
input{
    /* margin-left: 700px; */
    position: relative;
    left: 145px;
    width: 240px;
    height: 28px;
    text-indent: 30px;
    border-radius: 5px;
    border: 2px solid gainsboro;
    border-left-color: white;
}
h6{
    font-size: 20px;
    color: gainsboro;
    position: relative;
    left: 155px;
}
.fa-plus{
    position: relative;
    left: 165px;
    border: 2px solid gainsboro;
    padding: 5px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-color: white;
    background-color: white;
}
select{
    position: relative;
    left: 160px;
    width: 25px;
    border: 2px solid gainsboro;
    padding: 5px;
    border-radius: 5px;
    border-left-color: white;
}
.fa-box-tissue{
    position: relative;
    left: 170px;
}
.fa-box-tissue,.fa-code-pull-request,.fa-envelope, .fa-user{
    border: 2px solid gainsboro;
    padding: 5px;
    border-radius: 5px;
}
.fa-code-pull-request{
    position: relative;
    left: 180px;
}
.fa-envelope{
    border-radius: 5px;
    position: relative;
    left: 190px;
}
.fa-user{
    margin-left: 200px;
    border-radius: 50%;
}