*{
    margin: 0px;
    box-sizing: border-box;
}

/* div{
    height: 250px;
    width: 250px;
    background-color: salmon;
    position: relative;
    top: 150px;
    left: 450px;
    transition-property: all;
    transition-duration: 5s;
    transition-delay:1s;
    transition: all 7s 1s;
}
div:hover{
    background-color: sandybrown;
    border-radius: 50%;
} */

/* main{
    height: 50px;
    width: 25px;
    background-color: purple;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in-out;
    transition-timing-function: linear;
}
main:hover{
    width: 1000px;
} */

/* example 3 */
#img_container{
    height: 300px;
    width: 200px;
    border: 0px solid red;
    position: relative;
    top: 100px;
    left: 550px;
    overflow: hidden;
}
img{
    height: inherit;
    width: inherit;
}
#img_layer{
    height: 300px;
    width: 200px;
    border: 0px solid black;
    position: absolute;
    top: -300px;
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 4s ease 0s;
}
#img_container:hover>#img_layer{
    top: 0px;
}
p{
    color: white;
}

/* 
transition-delay will wait for the specified time and then applies all the transition properties
 */