*{
    box-sizing: border-box;
    margin: 100px;
}
div{
    border: 2px red solid;
    

    background-color: tomato;

    background-image: url(https://s3.ap-southeast-1.amazonaws.com/images.deccanchronicle.com/dc-Cover-0pvg9svh61q5eq23anj95i9uh2-20231022225820.Medi.jpeg);

    /* background-repeat: repeat; */
    background-repeat: no-repeat;
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */

    background-position: bottom top;
    background-position: top center;
    background-position: bottom center;
    background-position: left;
    background-position: right;
    background-position: top left;
    background-position: bottom right;
    background-position: center;

    background-attachment: fixed;

    background-size: 500px 500px;
    background-size: 500px;

    background: bisque url(https://s3.ap-southeast-1.amazonaws.com/images.deccanchronicle.com/dc-Cover-0pvg9svh61q5eq23anj95i9uh2-20231022225820.Medi.jpeg) no-repeat fixed;

}
