div{
    border: 20px solid fuchsia;

    /* border-radius: 5px; */

    /* for each side */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px; */

    /* short hand  */
    /* border-radius: 5px 10px 3px 20px; */
    /* border-radius: 50px 100px 30px;  */
    border-radius: 50px 15px;
    /* border-radius: 50px; */
    /*border-radius: 5px 0px; */

}

/* 
Three values - border-radius: 15px 50px 30px; (first value applies to top-left corner, second value applies to top-right and bottom-left corners, and third value applies to bottom-right corner)
Two values - border-radius: 15px 50px; (first value applies to top-left and bottom-right corners, and the second value applies to top-right and bottom-left corners)
One value - border-radius: 15px; (the value applies to all four corners, which are rounded equally 
*/