*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(/images/netbcg.jpg);
    background-repeat: no-repeat;
    background-size: 1540px;
}
nav{
    border: 2px solid black;
    background-color: black;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-evenly; */
    column-gap: 80px;
    filter: opacity(2);
}
h3{
    color: white;
}
h3:hover{
    color: red;
}
#netflix{
    height: 80px;
    width: 200px;
}